#wanc_container{
	width: 600px;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	visibility: hidden;
	right: 0;
	z-index: 9999999999999 !important;
	background-color: white;
	box-shadow: -3px 3px 5px 2px rgba(200, 200, 200, .5);
	padding-top: 40px;
}

#wanc_container #wanc_container_close{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 1.5rem;

}

#wanc_container h3{
	width: 100%;
	text-align: center;
}

#wanc_display_notification_number{
	display: inline-block;
	vertical-align: text-bottom;
	box-sizing: border-box;
	margin: 1px 0 -1px 2px;
	padding: 0 5px 0 4px;
	min-width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ca4a1f;
	color: #fff;
	font-size: 11px;
	line-height: 1.6;
	text-align: center;
}

#wanc_settings_acl .wanc_settings_acl_one{
	display: block;
	margin-bottom: 10px;
}

#wanc_settings_acl .wanc_settings_acl_one label{
	width: 10%;
	display: inline-block;
}
